%table{:class=> 'table'}
	%thead
		%tr
			%td
				%b Имя
			%td
				%b Фамилия
			%td
				%b Вид спорта
	%tbody
		%tr
			%td= @presenter.sportsman.name
			%td= @presenter.sportsman.sername
			%td= sport_name(@presenter.sportsman.sport_id)
-	if sportsman?
	= render('sportsman')							