%table{:class=> 'table'}
	%thead
		%tr
			%td
				%b Имя
			%td
				%b Фамилия
			%td
				%b Вид спорта
	%tbody
		%tr
			%td= @sportsman.name
			%td= @sportsman.sername
			%td= sport_name(@sportsman.sport_id)
=link_to 'Все соревнования', competitions_url
=link_to 'Создать', new_competition_path
=link_to 'Редактировать', edit_competition_path
%h3 Выберите соревнование
= react_component('SportsmanStats', {list: @competitions, points: @points})					
